* {
  margin: 0;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 960px;
  margin: 0 auto;
}

.content .header-block {
  width: 960px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0 auto;
  border-bottom: 2px solid grey;
}

.content .header-block .block-1,
.content .header-block .block-2,
.content .header-block .block-3 {
  width: 10%;
  background: #666565;
  height: 90px;
  margin: 20px 20px 20px 0;
}

.content .header-block .block-2 {
  width: 30%;
}

.content .header-block .block-3 {
  width: 60%;
  margin-right: 0;
}

.content .main-block {
  width: 960px;
  margin: 0 auto;
  height: 900px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.content .main-block .aside {
  width: 15%;
  height: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content .main-block .aside .block-4 {
  width: 100%;
  height: 45%;
  background: #666565;
  margin: 20px 20px 0 0;
}

.content .main-block .aside .block-7 {
  width: 100%;
  height: 20%;
  background: #666565;
}

.content .main-block .block-elements {
  width: 83%;
  height: 95%;
  margin: 20px 0 0 20px;
}

.content .main-block .block-elements .top-panel {
  background: #d8d7d7;
  margin: 0 0 20px 0;
  width: 100%;
  height: 30%;
}

.content .main-block .block-elements .block-element-rows {
  width: 100%;
  height: 40%;
}

.content .main-block .block-elements .block-element-rows .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 44%;
  width: 100%;
  margin: 20px 0 20px 0;
}

.content .main-block .block-elements .block-element-rows .row .element {
  width: 20%;
  background: #d8d7d7;
  margin: 0 20px 0 0;
}

.content .main-block .block-elements .block-element-rows .row .last-elem {
  margin: 0;
}

.content .main-block .block-elements .block-element-rows .last-row .element {
  margin-bottom: 0;
  width: 18%;
}

.content .main-block .block-elements .bottom-panel {
  width: 100%;
  height: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0;
}

.content .main-block .block-elements .bottom-panel .block-8 {
  width: 48.5%;
  height: 100%;
  background: #d8d7d7;
  margin: 0 20px 0 0;
}

.content .main-block .block-elements .bottom-panel .block-9 {
  width: 48.5%;
  height: 100%;
  background: #d8d7d7;
}

.content .footer-block {
  width: 100%;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 20px 0 0 0;
  border-top: 2px solid grey;
}

.content .footer-block .footer__row {
  width: 66.6%;
  height: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.content .footer-block .footer__row .row__item {
  width: 47.5%;
  height: 100%;
  margin: 20px 20px 0 20px;
  background: #666565;
}

.content .footer-block .footer__row .block-10 {
  margin: 20px 0 0 0;
}

.content .footer-block .footer__column {
  width: 33.3%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 20px 0 0 0;
}

.content .footer-block .footer__column .top-item {
  margin: 10px;
  width: 100%;
  height: 42.5%;
  background: #666565;
  margin: 0 auto;
  margin: 0 0 20px 0;
}

.content .footer-block .footer__column .bottom-item {
  margin: 0;
  margin: 10px;
  width: 100%;
  height: 42.5%;
  background: #666565;
  margin: 0;
}
